form {
  text-align: center;
  padding: 1em;
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
}
form input,
form button {
  width: 100%;
  padding: 0.5em;
  border: none;
}

form input {
  background-color: #d6efe1;
  columns: #82b969;
  border-bottom: 1px solid #82b969;
}

form button {
  background-color: #82b969;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
